html,body {
    margin:0;
    padding:0;
}

.header {
    .header-title{
        padding-left: 250px;
        padding-top: 5px;
        font-family: Raleway;
        color: rgba(219,87,79,1);
        font-size: 40px;
        font-weight: bold;
    }

    .button-container{
    //    display: flex;
       margin-top: -53px;
    //    margin-right: 20px;
       position: absolute;
       right: 8px;
       padding-right: 250px;
        
    }
    
    .signin-button{
      font-weight: bold;
    }

    .about-us{
        padding-left: 1445px;
      //  padding-top: -10px;
        font-family: Raleway;
        color: rgba(219,87,79,1);
        font-size: 25px;
        font-weight: bold;
        margin-top: -55px;
        cursor: pointer;

    }
}