html,body {
    margin:0;
    padding:0;
}

.landing {
    .header-title{
        padding-left: 250px;
        padding-top: 5px;
        font-family: Raleway;
        color: rgba(219,87,79,1);
        font-size: 40px;
        font-weight: bold;
    }

    .button-container{
    //    display: flex;
       margin-top: -53px;
    //    margin-right: 20px;
       position: absolute;
       right: 8px;
       padding-right: 250px;
        
    }
    
    .signin-button{
      font-weight: bold;
    }

    .about-us{
        padding-left: 1445px;
      //  padding-top: -10px;
        font-family: Raleway;
        color: rgba(219,87,79,1);
        font-size: 25px;
        font-weight: bold;
        margin-top: -55px;
        cursor: pointer;

    }

    h1{
        font-weight: bold;
        font-family: Raleway;
        color: rgba(219,87,79,1);
        text-align: left;
    }

    .headline{
        padding-left: 375px;
        font-size: 30px;
        margin-top: 165px;
    }

    .headline-2{
        padding-left: 375px;
        font-size: 30px;
        margin-top: -65px;
    }

    h2{
        font-weight: normal;
        font-family: Raleway;
        color: black;
        text-align: left;
    }
    .description-1{
        padding-left: 375px;
        font-size: 12px;
        margin-top: -10px;
    }

    .description-2{
        padding-left: 375px;
        font-size: 12px;
        margin-top: -15px;
    }

    .description-3{
        padding-left: 375px;
        font-size: 12px;
        margin-top: -15px;
    }

}