.list-entry {
    background: #FFFFFF;
    border: solid lightgray 1px;
    border-radius: 10px;
    width: 200px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    box-shadow: 2px 2px 4px #999999;

    .title {
        color: #444444;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin-left: 20px;
    }

    .subtitle {
        color: #444444;
        font-family: sans-serif;
        font-size: 14px;
        word-wrap: normal;
        width: 90%;
    }

    .info-container {
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        .info {
            width: 16px;
            height: 16px;
            color: #444444;
            margin-left: 10px;
        }
    }
}